.task-logo {
    margin-left: 5%;
}
.table-wrapper, form {
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    margin-top: 1rem;
}
.btn {
    margin-top: 1rem;
}
.btn-danger {
    margin: 0;
    font-size: x-small;
}
a {
    text-decoration: none;
}
.task-status {
    margin-top: 1rem;
}
.sort-icon {
    margin-left: 6px;
}
.task-hover {
    cursor: pointer;
}
#the-whole-page {
    background-image: url("./../images/bg.jpg");
}
.overlay-container{
    position: absolute;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.waiting {
    opacity: calc(.5);
}
.spinner-border {
    width: 4rem; 
    height: 4rem;
}